

body {
	background-color: #0f172a;
	color: #f8fafc;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 68vh;
	font-family: 'Courier New', Courier, monospace;
}
.jogo-container
{
	background-color: #1e293b;
	padding: 30px;
	border: 1px solid #334155;
	border-radius: 16px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
}

.escolhas {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os botões */
    margin: 30px 0;
}

.btn-escolha {
    display: flex;
    flex-direction: column; /* Mão em cima, texto embaixo */
    align-items: center;
    gap: 8px;
    
    background: #1e293b; /* Cor Slate escura */
    border: 2px solid #38bdf8; /* Borda Cyan neon */
    border-radius: 12px;
    padding: 15px 25px;
    color: #38bdf8;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icone {
    font-size: 2.5rem; /* Aumenta a mão para destaque */
}

.nome-escolha {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Courier New', monospace; /* Ar tecnológico */
}

/* Efeito de brilho ao passar o mouse */
.btn-escolha:hover {
    background: #38bdf8;
    color: #0f172a;
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.5);
    transform: translateY(-5px); /* Dá um leve pulinho */
}